body {
  margin: 0;
  font-family: sans-serif;
}
h1,
p {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid #5381a7;
  text-align: center;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}
form {
  margin: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: column;
}

#content {
  width: 400px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  background-color: #ecebeb;
  margin-right: 20px;
}
